* {
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.notdisp{
    display: none;
}

/* admin.html用 */
.admin_top{
    width: 100%;
    background-color: mintcream;
}
.admin_menu_box{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}
.user_search_box{
    height: 30px;
    width: 200px;
    float: left;
}
.user_search_icon{
    background-color: gray;
    height: 30px;
    width: 45px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
}
.user_search_icon button{
    font-size: 18px;
}
.admin_menu{
    list-style-type: none;
}
.admin_menu_list{
    margin: 10px 0;
    font-size: 20px;
    line-height: 30px;
}
.admin_menu_list:hover{
    background-color: lightblue;
}
.admin_menu_list a{
    text-decoration: none;
    display: block;
}

/* product_touroku.html */
.syouhintouroku_base{
    background-color: mintcream;
    width: 100%;
    padding-bottom: 50px;
}
.syouhintouroku_box{
    margin: 0 auto;
    width: 80%;
}
.jacket{
    height: 400px;
    width: 30%;
    float: left;
    padding-top: 50px;
}
.product_info{
    height: 400px;
    width: 70%;
    padding-top: 50px;
    font-size: 20px;
    display: inline-block;
}
.product_hozon{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.product_hozon a{
    text-decoration: none;
}
.product_hozon button{
    font-size: 24px;
}

/* Disc_Track_touroku.html */
.product_name{
    width: 80%;
    margin: 0 auto;
}
.disc_track_touroku_base{
    width: 100%;
    background-color: mintcream;
    padding: 50px 0;
}
.disc_touroku{
    width: 80%;
    background-color: lightgreen;
    margin: 0 auto;
    border: 1px solid;
}
.disc_touroku input, .disc_touroku select{
    height: 24px;
}
.d_disc, .d_type{
    display: inline;
    margin-right: 10px;
    font-size: 24px;
}
.d_type{
    display: inline;
    margin-right: 10px;
}
.track_touroku{
    width: 90%;
    margin: 0 auto;
    background-color: mintcream;
    border: 1px solid;
}
.track_number{
    float: left;
    width: 20%;
}
.track_name_box{
    float: left;
    width: 40%;
}
.artist_name_box{
    float: left;
    width: 40%;
}
.disc_track_submit{
    margin-top: 30px;
    text-align: center;
}
.add_disc_button{
    margin-right: 30px;
}
.disc_track_submit button{
    font-size: 24px;
}

/* contact_ichiran */

.contact_base{
    width: 100%;
    background-color: honeydew;
}
.contact_base table{
    width: 100%;
    border-color: rgb(187, 187, 187);
    table-layout: fixed;
}
.th_contact_user{
    width: 12%;
}
.th_contact_category{
    width: 12%;
    text-align: center;
}
.th_contact_date{
    width: 12%;
    text-align: center;
}
.th_contact_text{
    width: 54%;
}
.th_contact_view{
    width: 10%;
    text-align: center;
}
.open_contacts{
    width: 80%;
    margin: 0 auto;
    background-color: navajowhite;
}
.processing_contacts{
    width: 80%;
    margin: 0 auto;
    background-color: thistle;
}
.all_contacts{
    font-size: 20px;
    margin: 20px 0 0 20px;
}

/* product_stock.html */

.product_stock_base{
    background-color: mintcream;
    width: 100%;
}
.stock_table{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}
.stock_table table{
    width: 100%;
}
.stock_table tr:hover{
    background-color: lightgreen;
}
.t_product_stock_id, .t_product_stock_stock, .t_product_stock_sell{
    width: 10%;
    text-align: center;
}
.t_product_stock_name{
    width: 70%;
    padding-left: 10px;
    font-size: 20px;
}
.t_product_stock_name a{
    text-decoration: none;
    display: block;
}
.p_s_pagi{
    text-align: center;
}

/* user_ichiran.html */
.user_ichiran_base{
    background-color: mintcream;
    width: 100%;
}
.users_table{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}
.users_table table{
    width: 100%;
}
.users_table tr:hover{
    background-color: lightgreen;
}
.t_user_ichiran_id, .t_user_ichiran_show, .t_user_ichiran_edit, .t_user_ichiran_destroy{
    width: 12%;
    text-align: center;
}
.t_user_ichiran_name{
    width: 52%;
    padding-left: 10px;
    font-size: 20px;
}
.t_user_ichiran_name a{
    text-decoration: none;
    display: block;
}