* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.header {
  width: 100%; /* 横幅いっぱい */
  height: 120px; /* 高さ120px */
  /* background-color: ; 背景赤色 */
  text-align: center;
}

.footer{
	height: 120px;
    width: 100%;
    /* background-color: ; */
    text-align: center;
}

/* デフォの設定　*/
body{
	height: auto;
    width: 100%;
    font-family: "Rounded Mplus 1c";
}
.main-box{
	height: 100%;
	width:  80%;
	margin: 0 auto;
}

.page-title{
	
	text-align: center;
}

.box-title{
	width: 500px;
	font-size: 40px;
	text-align: center;
	margin: 0 auto 20px;
	border-bottom: 3px solid #8fbac8 ;
}

/*ユーザーページ*/

.user-info{
	height: 350px;
	margin: 10px 0;
	/* background-color: blue; */
	position: relative;
}

.user-info-box{
	width: 90%;
	height: 60%;
	margin:30px auto 20px;
	/*角丸の指定*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    background-color: #EEEEEE
}

.order-history{
	height: 500px;
	margin: 10px 0;
	background-color: white;
	position: relative;
}

.order-box{
	height: 400px;
	width: 982px;
	margin: 0 auto;
	background-color: white;
	position: relative;
}

.order-show-box{
	float: left;
	height: 350px;
	width: 320px;
	margin: 25px 0;
	/*角丸の指定*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    background-color: #EEEEEE
}

.mini-box{
	height: 85px;
	width:300px;
	margin: 10px auto;
	
}

.purchase-date{
	margin: 10px;
	font-size: 20px;
	
	text-align: center;
}

.item-mini{
	float: left;
	height: 65px;
	width: 65px;
	margin: 10px 5px;
	background-color: pink;
}

.order-history-list{
	margin-left: 10px;
}
.border-line{
	float: left;
	width: 3px;
	height: 250px;
	border-left: 3px solid #8fbac8 ;
	margin: 85px 4px 0 4px;
	
}

.review-history{
	height: 100%;
	margin: 10px 0;
	/* background-color: lime; */
	position: relative;
	padding: 30px;
	
}

.review-box{
	
	height: 210px;
	width: 890px;
	background-color: #EEEEEE;
	margin: 0 auto 10px;
	/*角丸の指定*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	
}

.item-middle{
	float:left;
	height: 190px;
	width: 190px;
	background-color: pink;
	margin: 10px 10px;
	
}

.item-date{
	float: left;
	height: 190px;
	width: 220px;
	/* background-color: fuchsia; */
	margin: 10px 10px;
	
}
.review-text{
	float:left;
	height: 190px;
	width: 420px;
	background-color: gray;
	margin: 10px 10px;
}

.border-box{
	height: 4px;
	width: 50%;
	border-top: 4px solid #8fbac8 ;
	margin: 40px auto 80px;
}


/* カートページ*/

.item{
	height: 250%;
	width: 80%;
	margin: 10 auto;
}
table{
	border-collapse: collapse;
	
	margin: 0 auto;
}
.cart-th{
	padding: 30px;
}

.cart-td{
	border-top: 3px solid #8fbac8 ;
	padding: 30px;
}

.quantity{
	width: 32px;
}
.item-box{
	height: 100%;
	width: 100%;
	
}

.item-contents{
	height: 190px;
	width: 50%;
	background-color: white;
	position: absolute;
	top:25px;
	left:240px;
	font-size: 20px;
}

.cart-contents{
	height: 190px;
	width: 190px;
	background-color: white;
	position: absolute;
	top: 25px;
	right: 25px;
}

.left-button{
	height: 50px;
	width: 150px;
	font-size:20px;
	font-weight: bold;/* 文字の太さをboldに指定 */
	border-style: none;/*ボーダーをなくす */
	/*角丸の指定*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	position: absolute;
	left: 0;
	bottom: 0px;
	background-color: grey;
	text-align: center;
}

.right-button{
	width: 200px;
    display: inline-block;
    margin: 0 auto;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px grey;
    border-radius: 3px;
    text-align: center;
    position: absolute;
	right: 0;
	bottom: 0px;
}

.right-button:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.button-box{
	height: 75px;
	width: 100%;
	position: relative;
}
/* 決済ページ*/

.cart-box{
	height: 450px;
	width: 100%;
	/* background-color: blue; */
}

.settlement-cart{
	margin-top: 10px;
}

.settlement-td{
	border-top: 3px solid #8fbac8 ;
	padding: 10px 15px 10px ;
	text-align: center; ;
}

.settlement-product-td{
	padding: 0 15px;
}

.shipping-address-box{
	height: 400px;
	width: 100%;
	/*background-color: green;*/
}

.shipping-box{
	
	width: 870px;
	margin: 0 auto;
}
.address-box{
	float: left;
	height: 270px;
	width: 270px;
	margin: 0 10px;
	/*角丸の指定*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    background-color: #EEEEEE;
}

.address{
	text-align: center;
}
.address-text{
	margin:0 10px 0 ; 
}

.address-action-button{
	height: 50px;
	width: 210px;
	margin: 10px auto 0;
}

.address-edit-btn{
	float: left;
	width: 95px;
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #004400;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    text-align: center;
}
.address-edit-:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.address-delete-btn{
	
	width: 95px;
    display: inline-block;
    margin: 5px 0 0 5px;
    padding: 0.5em 1em;
    text-decoration: none;
    background:#FF0000	;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    text-align: center;
}
.address-delete-btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
    }

.new-shipping-address-box{
	height: 350px;
	width: 100%;
	margin: 0 auto;
	/*background-color: lime;*/

}

.new-address-form{
	height: 250px;
	width: 550px;
	margin: 10px auto 10px;

	/*角丸の指定*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    background-color: #EEEEEE;
}



.new-name{
	width: 462px;
}

.new-post-number{
	width: 91px;
}

.new-address{
	width: 462px;
}

.new-address-button{
	height: 50px;
	width: 200px;
	margin: 10px auto 0;
}
.square_btn{
	width: 200px;
    display: inline-block;
    margin: 0 auto;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    text-align: center;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
/*支払いページ*/

.Addressee{
	height :200px;
	width: 100%;
	/*background-color:red;*/

}

.Addressee-inbox{
	height: 95px;
	width: 80%;
	margin: 0 auto;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
	background-color: #EEEEEE;
}

.payment-box{
	height: 270px;
	width: 100%;
	margin: 0 auto;
	/*background-color: fuchsia;*/
}

.payment-inbox{
	height: 160px;
	width: 80%;
	margin: 0 auto ;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
	background-color: #EEEEEE;
}

.payment-field-box{
	float: left;
	height: 100px;
	width: 90%;
	margin: 30px 0 30px 20px ;
}

.field-span{
	float:left;
	margin-right: 10px;
}

.card-name{
	height: 30px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.card-nummber{
	height: 30px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

.card-limit{
	float: left;
	width:129px;
	height: 20px;
	margin: 2px 0 0 10px ;
}

.card-month{
	height: 30px;
}

.card-year{
	height: 30px;
}

/*最終確認ページ*/


.center-button{
	width: 200px;
    margin: 0 auto;
    padding: 0.5em 1em;
    text-decoration: none;
    background: red;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px grey;
    border-radius: 3px;
    text-align: center;
}

.addressee-payment-box{
	height: 410px;
}

.Addressee-last{
	float: left;
	width: 40%;

	/*background-color:red;*/
}

.payment-info{
	float: right;
	width: 40%;
}

.payment-info-box{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
	background-color: #EEEEEE;

}

.box-title-last{
	width: 250px;
	font-size: 40px;
	text-align: center;
	margin: 0 auto 20px;
	border-bottom: 3px solid #8fbac8 ;
}



/*決済完了ページ*/

.thanks-box{
	height: 800px;
	width: 100%;
	position: relative;
}
.thanks-messege-box{
	height: 500px;
	width: 80%;
	background-color: blue;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.thanks-messege{
	height: 80%;
	width:80%;
	background-color: aqua;
	margin: 0 auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.show-button{
	height: 25px;
	width: 50px;

	position: absolute;
	right: 0;
	bottom: 0;
	background-color: grey;
}

